{% extends "base.html.twig" %}
{% block body %}
   <h1>Toutes les séries</h1>
   {% for program in programs %}
      <div>
         <h2>
            <a href="{{ path("program_show", { id: program.id }) }}">{{ program.title }}</a>
         </h2>
         <img src="{{program.poster}}">
         <p>
            <strong> Catégorie</strong> : {{ program.category.name }}
         </p>
         <p>  
            <strong> Synopsis</strong> : {{program.summary}}
         </p>
      </div>
      {% else %}
        Aucune série trouvée.
   {% endfor %}}
   <section class = "btn-section">
      <a class = "btn" href = "{{ path("program_new") }}">Ajoutez une série</a>
      <a class = "btn" href="/">Retour à l'accueil</a>
   </section>
{% endblock %}