{% extends "base.html.twig" %}
{% block body %}
   <h1>Index</h1>
   {% for program in programs %}
      <div>
         <h2>
            <a href="{{ path("program_show", { id: program.id }) }}">{{ program.title }}</a>
         </h2>
         <img src="{{program.poster}}">
         <p>
            Catégorie : {{ program.category.name }}
         </p>
         <p>  
            {{program.summary}}
         </p>
      </div>
      {% else %}
        Aucune série trouvée.
   {% endfor %}}
       <a href = "{{ path("program_new") }}">Ajoutez une série</a>
    <a href="/">
        Retour à l'accueil
    </a>
{% endblock %}