{% extends "base.html.twig" %}
{% block body %}
    <header>
        <h1> {{program.title}} </h1>
        <img src="{{program.poster}}">
    </header>
    <h3>
        <strong>Catégorie</strong> : {{ program.category.name }}
    </h3>
    <p>  
        <i>{{program.summary}}</i>
    </p>
    <h2>Acteurs :</h2>
        <ul>
            {% for actor in program.actors %}
                <li>
                    <h3>
                        <a href= "{{ path("actor_show", { id: actor.id }) }}">{{ actor.firstname }} {{ actor.lastname }}</a>
                    </h3>
                </li>
            {% else %}
                <li>Aucun acteur pour cette série</li>
            {% endfor %}
        </ul>
    <div>
        <h2>SAISONS</h2>
        {% for season in seasons %}
            <div>
                <a href="{{ path("program_season_show", {"program": program.id, "season": season.id })}}"><h3><i>Saison {{season.number}}</i></h3></a>
                <p><strong>Année de début de diffusion:</strong> {{season.year}}</p>
                <p><strong>Description:</strong> {{season.description}}</p>
            </div>
         {% else %}
                <p>Aucune saison pour cette série</p>
        {% endfor %}
    </div>
    <section class = "btn-section">
        <a class = "btn" href = "{{ path("season_new") }}">Ajouter une saison</a>
        <a class = "btn" href = "/programs">Retour à la liste des séries</a>
        {{ include('program/_delete_form.html.twig') }}
    </section>
{% endblock %}
