{% extends "base.html.twig" %}
{% block body %}
<header>
    <h1>{{program.title}}<h1>
    <img src="{{program.poster}}">
</header>
<div>
    <h2><strong>Saison</strong> {{season.number}}</h2>
    <h3><strong>Episode</strong> {{episode.number}} : {{episode.title}}</h3>
    <p><i>{{episode.synopsis}}</i></p>
</div>
<section class = "btn-section">
        <a class = "btn" href = "{{ path("episode_new") }}">Ajouter un épisode</a>
        {{ include('episode/_delete_form.html.twig') }}
</section>
{% endblock %}