{% extends "base.html.twig" %}
{% block body %}
    <h1> {{program.title}} </h1>
    <img src="{{program.poster}}">
    <p>
        Catégorie : {{ program.category.name }}
    </p>
    <p>  
        {{program.summary}}
    </p>
    <h2>Acteurs :</h2>
        <ul>
            {% for actor in program.actors %}
                <li>{{ actor.firstname }} {{ actor.lastname }}</li>
            {% else %}
                <li>Aucun acteur pour cette série</li>
            {% endfor %}
        </ul>
    <div>
        <h2>Saisons</h2>
        {% for season in seasons %}
            <div>
                <a href="{{ path("program_season_show", {"program": program.id, "season": season.id })}}"><h3>Saison {{season.number}}</h3></a>
                <p>Année de début de diffusion:{{season.year}}</p>
                <p>Description: {{season.description}}
            </div>
        {% endfor %}
    </div>
    {{ include('program/_delete_form.html.twig') }}
    <a href = "/programs">Retour à la liste des séries</a>
{% endblock %}
