{% extends "base.html.twig" %}
{% block body %}
<div>
    <h1>{{program.title}}<h1>
    <img src="{{program.poster}}">
</div>
<div>
<h2>Saison {{season.number}}</h2>
<h3>Episode {{episode.number}} : {{episode.title}}</h3>
<p>Synopsis: {{episode.synopsis}}</p>
{% endblock %}