{% extends 'base.html.twig' %}

{% block title %}{{ actor.firstname }} {{ actor.lastname }}{% endblock %}

{% block body %}
    <h1>{{ actor.firstname }} {{ actor.lastname }}</h1>

    <div>
        <h2>Séries jouées</h2>
        <ul class = "program-list">
        {% for program in actor.programs %}
            <li class = "program-item">
                 <div class="card" style="width: 18rem;">
                    <img src="{{program.poster}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{ program.title }}</strong></h5>
                        <p class="card-text"><i> Catégorie : {{ program.category.name }}</i></p>
                        <a href="{{ path("program_show", { id: program.id }) }}" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            </li>
        {% endfor %}
        <ul>
    </div>
    <section class = "btn-section">
        <a class = "btn" href="{{ path('actor_index') }}">Liste des acteurs</a>
        <a class = "btn" href="{{ path('actor_edit', {'id': actor.id}) }}">Modifier la fiche</a>
        {{ include('actor/_delete_form.html.twig') }}
    </section>
{% endblock %}
